.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 14px;
}

.experienceBar > span:last-child {
  font-size: 14px;
  color: var(--orange);
}

.experienceBar > div {
  flex: 1;
  height: 10px;
  border-radius: 4px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 10px;
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(255, 150, 102, 0.19) -1.42%, var(--orange-dark));
  transition: width 0.4s;
}

.experienceBar span.currentExperience {
  position: absolute;
  top: 15px;
  transform: translateX(-50%);
  transition: left 0.4s;
}
